#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
}
.nav-links {
    text-decoration: none;
    font-size: 13px;
    font-family: Arial, sans-serif;
    color: rgb(77, 77, 77);
    margin: 1em .75em 0 .75em;
}
#left-div {
    display: flex;
}
#right-div {
    display: flex;
}
#logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    padding: 10em 0 2em 0;
}
#google-search {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 45em;
    height: 4em;
    border-radius: 5em;
    border-style: solid;
    border-color: rgb(199, 199, 199);
    border-width: 1px;
}
#search-buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}