#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
}
.nav-links {
    text-decoration: none;
    font-size: 13px;
    font-family: Arial, sans-serif;
    color: rgb(77, 77, 77);
    margin: 1em .75em 0 .75em;
}
.left-div {
    display: flex;
}
.right-div {
    display: flex;
}
#logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    padding: 10em 0 2em 0;
}
#google-search {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 45em;
    height: 4em;
    border-radius: 5em;
    border-style: solid;
    border-color: rgb(199, 199, 199);
    border-width: 1px;
}
#search-buttons {
    display: flex;
    justify-content: space-around;
    width: 18em;
    flex-direction: row;
    margin: 2em auto;
}
.buttons {
    width: 10em;
    height: 3em;
    border-style: none;
    border-radius: 4px;
    color: gray;
}
#foot-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(240, 240, 240);
    width: 100%;
    height: 3em;
    border-top-style: solid;
    border-color: gray;
    border-width: 1px;
}
.left-foot-links {
    text-decoration: none;
    color: rgb(77, 77, 77);
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
    margin: 1.2em 1em 1em 2em;
}
.right-foot-links {
    text-decoration: none;
    color: rgb(77, 77, 77);
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
    margin: 1.2em 2em 1em 1em;
}